.pagination-ul {
  display: flex;
  color: #767676;
  gap: 20px;
  margin: 90px 0;
  justify-content: center;
  align-items: center;
}

.pagination-ul li a {
  padding: 10px;
  cursor: pointer;
}

.current-page {
  color: #586171;
  font-family: var(--font-source-serif-pro);
}

.hidden-button {
  display: none;
}
